WATCHBELL_ADMIN_USERNAME=admin
WATCHBELL_ADMIN_PASSWORD=change-me
WATCHBELL_SESSION_SECRET=replace-with-at-least-32-random-bytes
WATCHBELL_IMAGE=watchbell:local
WATCHBELL_VERSION=dev
WATCHBELL_VCS_REF=local
WATCHBELL_BUILD_DATE=unknown
WATCHBELL_SOURCE_URL=https://github.com/watchbell/watchbell
